@import "tailwindcss";

@theme {
  --color-neon-pink: #ff00ff;
  --color-neon-green: #00ff00;
  --font-display: "Inter", "sans-serif";
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-display);
  overflow-x: hidden;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(236, 72, 153, 0.5), 0 0 20px rgba(34, 197, 94, 0.3);
  }
}
