@import "tailwindcss";

@theme {
  --color-sith-red: #ff0033;
  --color-cyber-black: #050505;
  --font-display: "Inter", "sans-serif";
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-display);
  overflow-x: hidden;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 0, 51, 0.6), 0 0 20px rgba(100, 0, 0, 0.4);
  }
  
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
}
